{:paths ["src"]
 :deps {org.clojure/clojure       {:mvn/version "1.12.0"}
        org.clojure/tools.cli     {:mvn/version "1.0.219"}
        cheshire/cheshire         {:mvn/version "5.10.2"}
        healthsamurai/matcho      {:mvn/version "0.3.8"}
        io.github.fhir-clj/fhir-schema      {:git/url "https://github.com/fhir-clj/fhir-schema"
                                             :git/sha "222e5bea604131963ef388fdd2ce4c7ed8fb4b3d"} #_{:local/root "../fhir-schema"}
        io.github.fhir-clj/fhir-packages    {:git/url "https://github.com/fhir-clj/fhir-packages"
                                             :git/sha "e82da0a4e628e2b44e5baec0a4f009e6d9a6a75c"} #_{:local/root "../fhir-packages"}
        io.github.fhir-clj/valueset-to-enum {:git/url "https://github.com/fhir-clj/valueset-to-enum"
                                             :git/sha "6081380400170e7138b28ab523b7077d6d1b725f"}
        io.github.HealthSamurai/golden-clj {:git/url "https://github.com/HealthSamurai/golden-clj.git"
                                            :git/sha "64222491794d1119df70b18cce623f5dee169f25"}}

 :aliases
 {:dev
  {:extra-paths ["test"]
   :extra-deps {nrepl/nrepl       {:mvn/version "LATEST"}
                cider/cider-nrepl {:mvn/version "LATEST"}}
   :main-opts ["-m" "nrepl.cmdline"
               "--middleware" "[cider.nrepl/cider-middleware]"]}

  :format
  {:extra-paths ["test"]
   :extra-deps {dev.weavejester/cljfmt {:mvn/version "0.13.0"}}
   :main-opts  ["-m" "cljfmt.main"]}

  :lint
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2025.02.20"}}
   :main-opts ["-m" "clj-kondo.main" "--lint" "src" "--parallel"]}

  :test
  {:extra-paths ["test"]
   :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :main-opts   ["-m" "cognitect.test-runner"]
   :exec-fn     cognitect.test-runner.api/test}

  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}
                 com.github.clj-easy/graal-build-time {:mvn/version "1.0.5"}}
          :ns-default build}}}
